{% extends 'base.html' %}
{% block title %}Currículo{% endblock %}
{% block content %}
<h1>Currículo</h1>
<p>Adicione aqui suas formações acadêmicas e experiências profissionais.</p>
<section>
    <h2>Formação Acadêmica</h2>
    <ul>
        <li><strong>2009-2012:</strong> Graduação em Biotecnologia - UNAERP</li>
        <li><strong>2022 - Atual:</strong> Graduando em Ciência de Dados - UFMS</li>
    </ul>

    <h2>Experiência Profissional e Habilidades</h2>
    <ul>
        <li><strong>Fluência em Inglês:</strong> Comunicação eficaz em ambientes internacionais e técnicos.</li>
        <li><strong>Conhecimentos em Linguagens de Programação:</strong> Python, Java, JavaScript, PHP, Bash.</li>
        <li><strong>Desenvolvimento Web:</strong> Experiência prática com Flask para criação de aplicações web dinâmicas.</li>
        <li><strong>Integração com Bancos de Dados:</strong> MongoDB, MySQL e SQLite.</li>
        <li><strong>Ferramentas de Interface Gráfica (GUI):</strong> Familiaridade com Android Studio, PyQTL5 e PyQTL6.</li>
        <li><strong>OSINT:</strong> Coleta e análise de dados através de fontes abertas (Open Source Intelligence).</li>
        <li><strong>Pentest (Testes de Penetração):</strong> Habilidades em testar e identificar vulnerabilidades de segurança.</li>
        <li><strong>Comandos Linux e Administração de Sistemas:</strong> Proficiência em terminal e gerenciamento de sistemas Linux.</li>
        <li><strong>Raspberry Pi e Automação:</strong> Desenvolvimento de projetos de automação utilizando Raspberry Pi.</li>
        <li><strong>Servidores e Infraestrutura:</strong> Configuração e gerenciamento de servidores com Gunicorn e Nginx.</li>
    </ul>
</section>


{% endblock %}
