{% extends 'base.html' %}
{% block title %}Início{% endblock %}
{% block content %}
<h1>Bem-vindo ao meu portfólio</h1>
<p>Aqui você encontra um resumo dos meus projetos desenvolvidos.</p>
<ul class="project-list">
    <li>
        <a href="https://gibeira.com" target="_blank">gibeira.com</a> – Calculadora financeira para ajudar nas análises de gastos e realizar predições
    </li>
    <li>
        <a href="https://encryptor-9k7x.onrender.com" target="_blank">encryptor.com</a> – Encriptador de arquivos com AES-256bits, excelente para proteger dados
    </li>
    <li>
        <a href="https://acesseaqui.onrender.com" target="_blank">acesseaqui.com</a> – Simples site com um looping infinito para enviar a bolpistas, com isso é possível obter sua real localização
    </li>
    <li>
        <a href="https://buscadordenumero.onrender.com" target="_blank">buscadordenumero.com</a> – Site que realiza Consulta de Números de telefone, via API, retornando o nome do proprietário
    </li>
</ul>

{% endblock %}
