{% extends 'base.html' %}
{% block title %}Sobre{% endblock %}
{% block content %}
<h1>About</h1>
<p>Privet, rebyata! I'm 38-year-old and a IT enthusiast. Technology has always fascinated me, but over the past three years, I’ve truly immersed myself in deep study and hands-on experience.
    I'm currently pursuing a degree in Data Science at Universidade Federal de Mato Grosso do Sul (UFMS), where I'm honing my skills to become a versatile and innovative professional. My goal is to keep learning, collaborating, and making meaningful contributions—especially in the web developer and pentest, which excites me the most.
    I absolutely love coding—nothing beats the thrill of seeing my code work (especially after countless debugging sessions, lol). Looking forward to connecting with like-minded people and exploring new challenges in this ever-evolving field!
    I can communicate in English as well, and recently, I’ve started learning Russkiy. Exploring new languages is an exciting challenge - it’s like unlocking a new way to think and connect with people from different cultures..</p>
<div>
    <img class="foto" src="/static/peter.jpg" alt="Minha Foto" class="header-image">
</div>
{% endblock %}
